@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --color-primary:#3498db;
    --color-secondary:#2ecc71;
    --color-accent:#e74c3c;
}

section{
    background-color: white;
    padding:30px;
    margin:20px 0;
    border-radius:10px;
}

h2{
    color:var(--color-primary);
    border-bottom: 3px solid lightblue;
    padding-bottom:10px;
    margin-bottom:10px;
}
.font-demo p {
    padding:15px;
    margin:10px 0;
    background-color: white;
    border-radius: 5px;
}

.font-default{
    font-family: Arial, Helvetica, sans-serif;
}

.font-personalizzato{
    font-family: 'Pacifico',cursive;
    color:aqua;
    font-size:24px;
}

.font-fallback{
    font-family:'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 700;
}